{% extends 'base.html' %}

{% block content %}
<!--=====================Start post detail page=====================-->     
<section class="s-post-header">
    <div class="post-header">
        <div class="post-container">
        <h1 class="post-title">
            1. জ্যাঙ্গো এডমিনে কাষ্টম ভিউ যোগ করা (This is post detail page)
        </h1>
        <div class="post-info">
            <div class="author">
              <img src="/static/img/avator.png" alt="" class="avator">
              <p class="name">Harunur rashid</p>
            </div>
            <div class="date">মার্চ ২১, ২০১৮</div>
        </div>
        <img class="f-img" src="/static/img/featured-img.png" alt="">
    </div>
    </div>
</section>

<section class="post-content">
    <div class="container">
        <h1>custom_admin নামে একটি নতুন এপ তৈরী করি</h1>
        <img class="demo-img" src="/static/img/post-demo-img.png" alt="">
        <p>আপনার সামনে নতুন পাতা উপস্থিত হয়েছে। এখানে Authentication and Authorization অংশে আপনি নতুন পরিচালক এবং তাদের গ্রুপ যোগ করতে পারবেন। কিন্তু আমরা যে ব্লগ কাঠামো তৈরি করলাম সেটা ব্যাবহারের কোন স্থান তো এখানে নেই। আসলে জ্যাঙ্গো আমাদেরকে যে এডমিন এপ উপহার দিয়েছে তাকে বলা হয়নি যে আমাদের Page নামে একটি কাঠামো রয়েছে তুমি আমাকে সেটা ব্যাবহার করতে দাও।</p>
        <h1>custom_admin নামে একটি নতুন এপ তৈরী করি</h1>
        <img class="demo-img" src="/static/img/post-demo-img.png" alt="">
        <p>আপনার সামনে নতুন পাতা উপস্থিত হয়েছে। এখানে Authentication and Authorization অংশে আপনি নতুন পরিচালক এবং তাদের গ্রুপ যোগ করতে পারবেন। কিন্তু আমরা যে ব্লগ কাঠামো তৈরি করলাম সেটা ব্যাবহারের কোন স্থান তো এখানে নেই। আসলে জ্যাঙ্গো আমাদেরকে যে এডমিন এপ উপহার দিয়েছে তাকে বলা হয়নি যে আমাদের Page নামে একটি কাঠামো রয়েছে তুমি আমাকে সেটা ব্যাবহার করতে দাও।</p>
        <h1>custom_admin নামে একটি নতুন এপ তৈরী করি</h1>
        <img class="demo-img" src="/static/img/post-demo-img.png" alt="">
        <p>আপনার সামনে নতুন পাতা উপস্থিত হয়েছে। এখানে Authentication and Authorization অংশে আপনি নতুন পরিচালক এবং তাদের গ্রুপ যোগ করতে পারবেন। কিন্তু আমরা যে ব্লগ কাঠামো তৈরি করলাম সেটা ব্যাবহারের কোন স্থান তো এখানে নেই। আসলে জ্যাঙ্গো আমাদেরকে যে এডমিন এপ উপহার দিয়েছে তাকে বলা হয়নি যে আমাদের Page নামে একটি কাঠামো রয়েছে তুমি আমাকে সেটা ব্যাবহার করতে দাও।</p>
    </div>
</section>
<!--========================End post detail page=====================-->     
{% endblock %}